/* Adicione esta regra para a rolagem suave */
html {
    scroll-behavior: smooth;
}

/* Reset padrão gov.br */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rawline', sans-serif;
}

/* Cor padrão para todos os ícones */
.fa {
    color: #0075c9; /* Cor padrão para todos os ícones */
}

/* Estrutura centralizada */
.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

/* Cabeçalho padrão gov */
header {
    background-color: #FFFFFF; /* Cor do cabeçalho alterada para branco */
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between; /* Espaçamento entre logo e menu */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha de baixo se necessário */
}

/* Logo */
.logo {
    display: flex;
    align-items: center; /* Alinha verticalmente o logo e o texto */
}

.logo-img {
    height: 40px; /* Ajuste a altura conforme necessário */
    margin-right: 10px; /* Espaçamento entre o logo e o título */
    margin-left: 10px; /* Espaçamento entre o logo e o título */
}

.logo h2 {
    color: #333333; /* Cor do texto do logo alterada para azul */
    font-weight: normal;
    font-size: 18px;
    text-align: left;
}

.menu {
    width: 60%;
    text-align: center;
}

.menu a {
    color: #0C326F; /* Cor dos links alterada para azul */
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s;
}

.menu a:hover {
    color: #0075C9; /* Verde água gov.br */
}

.menu .btn-menu {
    background-color: #3366CC; /* Cor botão gov */
    display: inline-block;
    padding: 6px 12px;
    color: #FFFFFF;
    border-radius: 4px;
    margin-right: 20px;
}

.menu .btn-menu:hover {
    background-color: #005E82; /* Azul escuro gov.br */
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Alinha os itens em coluna em telas pequenas */
        align-items: flex-start; /* Alinha os itens à esquerda */
        padding: 10px 20px; /* Ajuste de padding para telas pequenas */
    }

    .menu {
        justify-content: flex-start; /* Alinha o menu à esquerda */
        width: 100%; /* O menu ocupa toda a largura disponível */
        flex-wrap: wrap; /* Permite que os itens do menu se movam para a linha de baixo se necessário */
        gap: 10px; /* Menos espaço entre os itens do menu em telas pequenas */
    }

    .menu a {
        font-size: 14px; /* Reduz o tamanho da fonte em telas pequenas */
    }

    .menu .btn-menu {
        padding: 4px 8px; /* Ajusta o padding do botão em telas pequenas */
    }
}

/* Seção Principal */
section.main {
    background-color: #F9F9F9;
    padding: 10px 100px;
    background-size: cover;
}

.main-cta {
    width: 100%;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
}

.main-cta h2 {
    color: #0075c9; /* Azul escuro gov.br */
    font-size: 36px;
}

.main-cta p {
    color: #333333; /* Cinza escuro */
    font-size: 18px;
}

.main-cta button {
    background-color: #0075C9;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.main-cta button:hover {
    background-color: #005E82;
    transition: 0.3s;
}

/* Diferenciais */
.diferenciais {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.diferencial-single {
    background-color: #FFFFFF;
    width: 23%;
    height: 120px;
    width: 250px; 
    margin: 10px 1%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.diferencial-single h2 {
    color: #0075C9; /* Azul gov.br */
    font-size: 18px;
}

.diferencial-single p {
    color: #666666; /* Cinza médio */
    font-size: 14px;
}

.diferencial-single a {
    display: block;
    margin-bottom: 5px; /* opcional: adiciona um pequeno espaço entre os links */
    color: #666666; /* Cinza médio */
    font-size: 14px;
}

.diferencial-single a:hover {
    color: #0075C9; /* Verde água gov.br */
}

.diferencial-single i {
    color: #3258a3; /* Cinza médio */
}

/* Rodapé */
footer {
    background-color: #F9F9F9;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px; /* Espaçamento acima do rodapé */
}

footer p {
    color: #333333; /* Cor do texto do rodapé */
    font-size: 14px;
}
