/* Adicione esta regra para a rolagem suave */
html {
    scroll-behavior: smooth;
}

/* CSS específico para a página de lançamentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rawline', sans-serif;
}

/* Cor padrão para todos os ícones */
.fa {
    color: #0075c9; /* Cor padrão para todos os ícones */
}

/* Estrutura centralizada */
.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

/* Cabeçalho padrão com logo e menu */
header {
    background-color: #FFFFFF; /* Fundo branco */
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza os itens verticalmente */
    flex-wrap: wrap; /* Permite que os itens se reorganizem em telas pequenas */
}

/* Logo */
.logo {
    display: flex;
    align-items: center; /* Alinha logo e texto verticalmente */
}

.logo-img {
    height: 40px; /* Tamanho da imagem da logo */
    margin-right: 10px; /* Espaço entre a logo e o texto */
}

.logo h2 {
    color: #333333; /* Cor do texto */
    font-weight: normal;
    font-size: 18px;
    margin-right: 30px;
}

/* Menu */
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px; /* Espaço entre os itens do menu */
}

.menu a {
    color: #0C326F; /* Cor dos links alterada para azul */
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px;
    transition: transform 0.3s, background-color 0.3s; /* Suaviza o aumento e a mudança de cor */
    display: inline-block; /* Permite que o link responda ao scale */
}

.menu a:hover {
    transform: scale(1.05); /* Aumenta o bloco em 5% */
    color: #0075C9; /* Verde água gov.br */
}

.menu .btn-menu {
    background-color: #3366CC; /* Cor botão gov */
    display: inline-block;
    padding: 6px 12px;
    color: #FFFFFF;
    border-radius: 4px;
    margin-right: 20px  ;
    transition: transform 0.3s, background-color 0.3s; /* Suaviza o aumento e a mudança de cor */
}

.menu .btn-menu:hover {
    transform: scale(1.05); /* Aumenta o bloco em 5% */
    background-color: #005E82; /* Azul escuro gov.br */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Coluna para telas menores */
        align-items: flex-start; /* Alinha à esquerda */
    }

    .menu {
        width: 100%; /* Menu ocupa toda a largura */
        justify-content: flex-start; /* Alinha o menu à esquerda */
        gap: 10px; /* Reduz o espaço entre os itens */
        margin-top: 10px; /* Espaçamento superior em telas menores */
    }

    .menu a {
        font-size: 14px; /* Menor tamanho para links */
    }

    .menu .btn-menu {
        padding: 4px 8px; /* Ajusta o botão */
    }
}


/* Seção Principal */
section.main {
    /*background-image: url('frentelab.jpg');*/
    background-color: #e3f3f3;
    padding: 0px 0;
    background-size: cover;
    background-attachment: fixed;
}

.main-cta {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
}

.main-cta h2 {
    color: #0075c9; /* Azul escuro gov.br */
    font-size: 36px;
}

.main-cta p {
    color: #333333; /* Cinza escuro */
    font-size: 18px;
}


/* Definindo a imagem de fundo */
body {
    /*background-image: url('frentelab.jpg');*/
    background-color: #e3f3f3;
    padding: 40px 0;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; /* Faz o body ocupar toda a altura da janela */
}

.planilha-section {
    padding: 40px 0; /* Espaçamento acima e abaixo da seção da planilha */
}

.planilha {
    margin: auto; /* Centraliza a planilha no centro da página */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Largura máxima para evitar que fique muito grande */
    text-align: center; /* Centraliza o texto dentro da planilha */
}

.planilha iframe {
    height: 400px; /* Defina a altura desejada */
    width: 100%; /* Mantém a largura do iframe */
    border: none; /* Remove a borda do iframe */
    overflow: hidden; /* Oculta o excesso de conteúdo que ultrapassa a altura */
}

.planilha h2 {
    text-align: center; /* Centraliza o título da planilha */
}

.planilha p {
    text-align: center; /* Centraliza o parágrafo de descrição */
}

/* Contato */
section.contato {
    border-radius: 8px;
    background-color: #0b1e44; /* Verde claro gov.br */
    padding: 40px;
    margin-top: 85px;
}

.contato h2 {
    font-size: 24px;
    color: #F9F9F9; 
}

.contato p {
    font-size: 18px;
    color: #F9F9F9; 
}
